body {
    text-align: center;
    background: linear-gradient(#E1BEE7 0%, #90CAF9 100%);
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px #F8BBDO;
    font-size: 50px;
}

#bio {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
}

.line {
    width: 100px;
    height: 10px;
    background-color: black;
    margin: 10px auto;

}

.menu {
    list-style: none;
    font-family: lobster;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}

.list {
    float: left;
    padding: 8px;
    font-size;
    color: red;
}

.list:hover {
    background-color: blue;
}

#name {
    font-family: cursive;
    font-size: 30px;
    line-height: 1.2;
}
